* {
  box-sizing: border-box 
}

body, html {
  width: 100vw;
  height: 100vh;
}

.app {
  padding: 2rem;
  height: 100vh;
}

.button {
  padding: 0.75rem 1.5rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  text-decoration: none;
  color: black;
  display: inline-flex;
  background: #fff;
  cursor: pointer;
}

.button i.left {
  padding-right: 0.5rem;
}

.button i.right {
  padding-left: 0.5rem;
}

.button-default {
  background: rgba()
}

.button:hover {
  color: rgba(0,0,0,0.5);
}

.page-actions {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.page-actions .button {
  margin-right: 1rem;
}

